<!doctype html>
<html>
    <head>
        <title> SoulMusic </title>
    </head>
    <body>
        <h1>Experience SoulMusic</h1>
        <p>Select your Mood choice</p>

        <form method="POST">
            <select id="mood" name="songs">
                <option value="Feel">Feel</option>
                <option value="Flow">Flow</option>
                <option value="Forward">Forward</option>
                <option value="Energy">Energy</option>
            </select>
            <input type="submit" value="submit">
        </form>

    </body>
</html>